<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Order</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Select Items</label>
        <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef > Id </th>
                <td mat-cell *matCellDef="let items"> {{items.Id}} </td>
              </ng-container>

              <ng-container matColumnDef="ItemName">
                  <th mat-header-cell *matHeaderCellDef > ItemName </th>
                  <td mat-cell *matCellDef="let items"> {{items.ItemName}} </td>
                </ng-container>

                <ng-container matColumnDef="ItemQuantity">
                    <th mat-header-cell *matHeaderCellDef > ItemQuantity </th>
                    <td mat-cell *matCellDef="let items"> {{items.ItemQuantity}} </td>
                  </ng-container>

                  
          <ng-container matColumnDef="ItemPrice">
              <th mat-header-cell *matHeaderCellDef > Price </th>
              <td mat-cell *matCellDef="let items"> {{items.ItemPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="ItemDescription">
                <th mat-header-cell *matHeaderCellDef > ItemDescription </th>
                <td mat-cell *matCellDef="let items"> {{items.ItemDescription}} </td>
              </ng-container>

              <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr> -->

              <mat-header-row *matHeaderRowDef=" ItemDisplayedColumns"></mat-header-row>
               <mat-row *matRowDef="let items; columns: ItemDisplayedColumns;"
               [ngClass]="{'highlight': selectedRowIndex == items.Id}"
               (click)="highlight(items, items.Id)"></mat-row>
        </table>
        
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="CountPrice()">Select</button>
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Select</button> -->
  </div>
</ng-template>

<h1><p align="center">Add Order</p></h1>
<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/home"  >Home      
    </a>
    <a mat-tab-link routerLink="/customer"  >Customer Information      
    </a>
    <a mat-tab-link routerLink="/add-customer">Add Customer       
    </a>
    <a mat-tab-link routerLink="/add-order">Add Order      
    </a>
    <a mat-tab-link routerLink="/order-information">Order Information      
    </a>
</nav>


<div>

        <!-- <h4>Add Customer</h4> -->
        <mat-form-field>
            <mat-label>Select Customer</mat-label>
            <mat-select  [(ngModel)]="selectedCustomerValue">
              <mat-option *ngFor="let customer of customers"  [value]="customer.CustomerId">
                {{customer.CustomerName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
         
    <br>
    <br>

    <div class="wrapper">
    <button mat-raised-button color="accent" (click)="open(content)">Add Item</button>
    </div>
    <!-- <button  >m</button> -->
    <!-- <p>{{selectedItem.Id}}</p> -->
    <div >
     <table mat-table  [dataSource]="selectedDataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef > Id </th>
            <td mat-cell *matCellDef="let selectedItem"> {{selectedItem.Id}} </td>
          </ng-container>

          

            <ng-container matColumnDef="ItemId">
                <th mat-header-cell *matHeaderCellDef > ItemId </th>
                <td mat-cell *matCellDef="let selectedItem"> {{selectedItem.ItemId}} </td>
              </ng-container>

              <ng-container matColumnDef="ItemQuantity">
                  <th mat-header-cell *matHeaderCellDef > ItemQuantity </th>
                  <td mat-cell *matCellDef="let selectedItem"> {{selectedItem.ItemQuantity}} </td>
                </ng-container>

                <ng-container matColumnDef="ItemPrice">
                  <th mat-header-cell *matHeaderCellDef > ItemPrice </th>
                  <td mat-cell *matCellDef="let selectedItem"> {{selectedItem.ItemPrice}} </td>
                </ng-container>


                <ng-container matColumnDef="ItemTotal">
                  <th mat-header-cell *matHeaderCellDef > ItemTotal </th>
                  <td mat-cell *matCellDef="let selectedItem"> {{selectedItem.ItemQuantity * selectedItem.ItemPrice }} </td>
                </ng-container>

               
               

                  <mat-header-row *matHeaderRowDef="OrderItemDisplayedColumns "></mat-header-row>
                  <mat-row *matRowDef="let selectedItem; columns: OrderItemDisplayedColumns ;"></mat-row>


    </table> 
  </div>
  <br>
  <br>
  
      
    

 
     <form class="TotalQuantity&Price">
        <mat-form-field class="Total">
            <input matInput placeholder="Total Quantity"  [value]="totalQuantity">
        </mat-form-field>
      
        <mat-form-field class="Total">
            <input matInput placeholder="Total Price"  [value]="totalPrice">
        </mat-form-field>

        <mat-form-field class="Total">
            <input matInput placeholder="Order Date"  [value]="today | date:'dd-MM-yyyy'">
        </mat-form-field>

        <div class="wrapper"> <button align="center" mat-raised-button color="primary" (click) = "AddOrders()">Add Order</button></div>
      </form>

    
      

  </div>
    
     


