<h1><p align="center">Add Customer</p></h1>
<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/home"  >Home      
    </a>
    <a mat-tab-link routerLink="/customer"  >Customer Information      
    </a>
    <a mat-tab-link routerLink="/add-customer">Add Customer       
    </a>
    <a mat-tab-link routerLink="/add-order">Add Order      
    </a>
    <a mat-tab-link routerLink="/order-information">Order Information      
    </a>
</nav>
  



  <div>
    <div>
      
     <label>CustomerName
         <input type="textBox"  [(ngModel)]="customer.CustomerName" placeholder="CustomerName">  
     </label>
     <br>
     <label>Email</label>
     <br>
     <input type="textBox" [(ngModel)]="customer.Email" placeholder="Email">  
     <br>
     <label>Phone</label>
     <br>
     <input type="textBox" [(ngModel)]="customer.Phone" placeholder="Phone">
     <br>
     <label>Address </label>
     <br>
     <input type="textBox" [(ngModel)]="customer.Address" placeholder="Address">
     <br>
     <label>AlternateNumber </label>
     <br>
     <input type="text" [(ngModel)]="customer.AlternateNumber" placeholder="AlternateNumber">
    </div> 
    <button (click)="GoBack()" >Go back</button> 
    <button  (click) = "saveCustomer()" >Save Data</button>
  </div>

